<%- include("./partials/header") %>
<div class="landingHeader">
    <h1> WELCOME TO Attendence APP</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    
    <div >
            <a  href="/createroom" class="btn btn-outline-success btn-lg">Create room</a> 
            <a  href="/joinroom" class="btn btn-outline-success btn-lg">Join room</a> 
    </div>
</div>

<%- include("./partials/footer") %>